html {
    background-color: #FFFF00;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid #FFFF00;
    background-color: rgb(0, 0, 0);
    margin-left: 50px;
}


#pac-man-logo{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
}

#flex {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: goldenrod;
    border:  8px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: #020272;
}

.power-pill {
    background-color: rgb(218, 100, 32);
    border-radius: 30px;
}

.pac-man {
    height: 20px;
    width: 20px;

    border-radius: 50%;
    background: #F2D648;
    /* background-image: url("./images/pac-man.png"); */
    position: relative;
}

.blinky {
    background-color: rgb(167, 21, 21);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}

.pinky {
    background-color: rgb(190, 94, 110);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}

.inky {
    background-color: rgb(0, 81, 255);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}

.clyde {
    background-color: rgb(255, 148, 8);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}   

.ghost-panic {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}