

html {
    
    background-color: #FFFF00;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid #FFFF00;
    background-color: rgb(0, 0, 0);
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 100px;
    
}


#pac-man-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
}

#flexbox {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    margin: 50px 50px;
}
    
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: goldenrod;
    border:  8px solid black;
    box-sizing: border-box;
    position: relative;
}

.wall {
    background-color: #020272;
}

.power-pill {
    background-color: rgb(218, 100, 32);
    border-radius: 30px;
}

.pac-man {
    background-image: url('./images/pac-man.png');
    background-size: 23px 23px;
    position: relative;
}

.blinky {
    background-image: url('./images/blinky.png');
    background-size: 23px 23px;
    position: relative;
}

.pinky {
    background-image: url('./images/pinky.png');
    background-size: 20px 20px;
    position: relative;
}

.inky {
    background-image: url('./images/inky.png');
    background-size: 20px 20px;
    position: relative;
}

.clyde {
    background-image: url('./images/clyde.png');
    background-size: 20px 20px;
    position: relative;
}   

.ghost-panic {
    background-image: url('./images/panicmode.png');
    background-size: 20px 20px;
    position: relative;
}



/* .side p {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 15px;
    width: 40%;
    display: flex;
    align-self: center;
    flex-direction: row;
    margin-left: 100px;
} */